<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.test.entity.User"/>
        <mapping class="com.test.entity.Invoice"/>
     	<mapping class="com.test.entity.Cart"/>
     	<mapping class="com.test.entity.OrderStatus"/>
     	<mapping class="com.test.entity.PaymentStatus"/>
     	<mapping class="com.test.entity.Login"/>
     	<mapping class="com.test.entity.Product"/>
     	<mapping class="com.test.entity.Pin"/>
     	<mapping class="com.test.entity.ProductCategory"/>
     	<mapping class="com.test.entity.ProductSubCategory"/>
     	<mapping class="com.test.entity.Registration"/>
     	<mapping class="com.test.entity.ShipmentStatus"/>
     	<mapping class="com.test.entity.UserAddress"/>
     	<mapping class="com.test.entity.UserAddressType"/>
     	<mapping class="com.test.entity.UserOrder"/>
     	<mapping class="com.test.entity.Coupons"/>
    </session-factory>
        
</hibernate-configuration>